@using Schematic.Core
@model SetPasswordViewModel
@inject IViewLocalizer L

@{
    ViewData["UiLocale"] = CultureInfo.CurrentCulture.ToString();
}

@if (Model.SetPasswordSuccess)
{
    <p>@L["Thank you. Your new password has been set. You may now sign in with your new credentials."]</p>
    <div class="sign-in__submit">
        <a href="~/@ViewData["UiLocale"]/in" class="resource-button resource-button--primary sign-in__button" type="submit">
            @L["Sign in"]
        </a>
    </div>
}
else
{
    <form class="sign-in-form" slot="form" asp-controller="Authentication" asp-action="ResetPassword" method="post">
        <partial name="_ValidationSummaryPartial" view-data="ViewData" />
        <p class="sign-in__intro">@L["Fill in the form below to set your new password."]</p>
        <label asp-for="Email"></label>
        <input asp-for="Email" value="@ViewData["Email"]" />
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" value="" />
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" value="" />
        <div class="sign-in__submit">
            <button class="resource-button resource-button--primary sign-in__button" type="submit">
                @L["Submit"]
            </button>
        </div>
        @Html.AntiForgeryToken()
    </form>
}